.DS_Store
*.log
*.dot
*.html
/cmake-build-debug/
/Ptr2Arr/cmake-build-debug/
/SemanticAugmentor/cmake-build-debug/
/TypeAnnotator/cmake-build-debug/
/Ptr2Arr/dg/
/llvm2kittel/
/muval-master/
/muval-fse2026/
Evaluation Results/MuVal/TermCOMP/C/SV-COMP_Mixed_Categories/rekcba_ctm_false-unreach-call.2/rekcba_ctm_false-unreach-call.2.ll
